.dropDown {
    padding: 1rem 0;
    border-bottom: 1px solid white;
    color: white;
}

.multiselect form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading h3 {
    font-size: 16px;
}

.expanded {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.collapsed {
    display: none;
}

.multiSelect__option {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.multiSelect__option input {
    width: 18px;
    height: 18px;
}

.unselect__btn {
    background: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    color: #BFC8CD;
}

.links {
    list-style: none;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.links li {
    font-size: 14px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}