.footer {
    background-color: black;
    color: white;
    padding: 3rem 3rem 1rem 5rem;
}

.footer__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    column-gap: 10rem;
    margin-bottom: 1.5rem;
}

.footer__info {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}


.footer__info h2 {
    font-size: 20px;
    font-weight: bold;
}

.footer__info p {
    font-size: 16px;
    font-weight: 200;
}

.footer__currency {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

p.transaction__info {
    font-size: 12px;
    font-weight: 200;
}

.footer__currency span {
    font-weight: bold;
}



.footer__bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer__copyright{
    text-align: center;
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 375px) {
    .footer {
        display: none;
    }
}